.container-resume {
    height: 650px;
    text-align: center;
    overflow: scroll;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.titles {
    margin: 40px;
}

.resume-link {
    padding-top: 10px;
}

@media screen and (max-width: 390px) {
    .container-resume {
        height: 620px;
        text-align: center;
        overflow: scroll;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .container-resume {
        height: 446px;
        text-align: center;
        overflow: scroll;
        padding-top: 30px;
        padding-bottom: 10px;

    }
}

;